# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.eclipse/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.db-journal

# JobRunr
jobrunr/

# Application
application-local.yml
